*
{
	color: azure;
}

body
{
	margin: 0;
	background-image: url("images/flat.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#contactHead{
	background-color:#fff !important;
}

.form-container
{
	border: 0px solid #fff;
	padding: 30px 40px;
	margin-top: 10vh;
	margin-bottom: 15vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}
